img {
    width: 200px;
}

body {
    text-align: center;
    font-family: 'Arial';
    background-color: black;
    color: white;
}

#top-pic {
    margin-top: 0.6em;
}

.g {
    height:200px;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
}